/* code referred from https://www.codingnepalweb.com/2020/04/responsive-menu-bar-in-html-css.html */
/* so that the white spacing on top is removed */
* 
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    text-decoration: none;
}

/* style the header with the red colour and padding */
nav
{
    background-color: #8B0000;
    width: 100%;
    height: 80px;
}

/* style the header links and float it to the right */
nav ul
{
    float: right;
    margin-right: 20px;
}

nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a
{
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
}

/* change the background colour on mouse over the button */
a.active, a:hover
{ 
    background: #DDD;
    color: black;
}

/* shift the logo and change size */
a.logo img
{
    padding-left: 50px;
    height: 100%;
    width: 180px;
}

.checkbtn
{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check
{
    display: none
}

/* adjust the responsiveness of the navbar */

@media (max-width: 952px)
{
    nav ul li a
    {
        font-size: 16px;
    }
}

/* adjust the responsiveness of the navbar */

@media (max-width: 852px)
{
    .checkbtn
    {
        display: block;
    }
    
    ul
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: 0;
        text-align: center;
    }
    
    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
    nav ul li a
    {
        font-size: 20px;
    }
    
    a:hover, a.ac
    {
        background: none;
        color: #0082E6
    }
    
    #check:checked ~ ul
    {
        left: 0;
    }
}