<<<<<<< HEAD
/* Empty for now */


/* Font descriptions */
@font-face {
font-family: 'Coolvetica Compressed Regular';
font-style: normal;
font-weight: normal;
src: local('Coolvetica Compressed Regular'), url('coolvetica compressed rg.woff') format('woff');
}


@font-face {
font-family: 'Coolvetica Condensed Regular';
font-style: normal;
font-weight: normal;
src: local('Coolvetica Condensed Regular'), url('coolvetica condensed rg.woff') format('woff');
}


@font-face {
font-family: 'Coolvetica Crammed Regular';
font-style: normal;
font-weight: normal;
src: local('Coolvetica Crammed Regular'), url('coolvetica crammed rg.woff') format('woff');
}


@font-face {
font-family: 'Coolvetica Regular';
font-style: normal;
font-weight: normal;
src: local('Coolvetica Regular'), url('coolvetica rg.woff') format('woff');
}


@font-face {
font-family: 'Coolvetica Regular Italic';
font-style: normal;
font-weight: normal;
src: local('Coolvetica Regular Italic'), url('coolvetica rg it.woff') format('woff');
}

/* Page non-specific descriptions */
 h2 {
		font-family: 'Coolvetica Regular';
		letter-spacing: .5px;
 }
 
 p {
		font-family: 'Coolvetica Regular';
		letter-spacing: .5px;
 }
 
 address {
		font-family: 'Coolvetica Regular';
		letter-spacing: .5px; 
		align: center;
 }

 
	/* Header Formatting */
header {
		margin: center;
		background-color: red;
}
	
#Logo {
		margin: center;
		text-align: center;
		height: 5em;
	
}
 
	/* Footer Formatting*/
div#SocialFooter {
		margin: center;
		text-align: center;
		background-color: red;
}

#FBLOGO {
	margin: auto;
	height: 5em;
	width: 5em;
 }
 
 #INSTALOGO {
	margin: auto;
	height: 5em;
	width: 5em;
 }

div#InfoFooter {
	margin: auto;
	text-align: center;
	background-color: red
}
 
 
 
 /* Page specific descriptions */
 
=======
/* Custom Fonts --------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Anton');


/* Common CSS ----------------------------------- */

* {
    box-sizing: border-box;
}

/* Body CSS ------------------------------------ */
body{
    
}

h1{
    font-family: Arial, Helvetica,'Anton', sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 2em;
    color: black;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 20px;;
    color: black;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 17px;;
    color: black;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 15px;;
    color: black;
}


/* Header CSS ------------------------------------------------------- */




/* Body of page 1: Index.html CSS ----------------------------------- */



/* Body of page 2: attractionsandevents.html CSS -------------------- */



/* Body of page 3: informationandservices.html CSS ------------------ */



/* Footer CSS ------------------------------------------------------- */




>>>>>>> 1aafcc229f6d09344b888d60def401d09449d94c
